<%- include('header'); -%>

<div class="container d-flex flex-column justify-content-center about">
  <div class="container d-flex justify-content-center">
    <img src="pictures/logo.webp" alt="" />
  </div>
  <p class="container">
    Quiz UP is a quiz website organization that was developed by Rakteem
    Mullick. With a passion for learning and gaming, Rakteem wanted to create a
    platform where individuals could test their knowledge and compete with
    others. Thus, Quiz UP was born.
  </p>
  <p class="container">
    At Quiz UP, we offer a variety of quiz topics that cater to every interest
    and skill level. From history to pop culture to science, there is something
    for everyone. Our quizzes are designed to challenge and educate players,
    making it a fun and engaging way to learn.
  </p>

  <p class="container">
    Whether you're looking to test your knowledge, compete with friends, or
    simply want to have some fun, Quiz UP is the perfect destination. Join our
    community of quiz enthusiasts and let's explore the world of knowledge
    together.
  </p>

  <div class="container d-flex justify-content-center">
    <img src="pictures/LinkedIn_Profile.jpeg" alt="" class="dp" />
  </div>
  <h3 class="d-flex justify-content-center dp-name about">Rakteem Mullick</h3>
</div>

<%- include('footer'); -%>
